<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image />
        <Product::Details />
    </div>
    <h5 class="mt-5">Features</h5>
    <ul>
        <li>Exploring The Depths Of The Dungeon.</li>
        <li>Original art by Stash.</li>
        <li>100% Organic Natural Cotton T-shirt.</li>
        <li>Sustainably Sourced & Carbon Neutral.</li>
        <li>Chest Width: 74cm</li>
        <li>Torso Length: 56cm</li>
    </ul>
</GeneralContainer>